<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic-Assignment2
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h2>Enter the right code</h2>
        <p *ngIf="!didWin()">Tap twice, press four times</p>
        <p *ngIf="didWin()">You won!</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <p>Tapped: {{ tapped }}</p>
          </ion-item>
          <ion-item>
            <p>Pressed: {{ pressed }}</p>
          </ion-item>
        </ion-list>
     </ion-col>
    </ion-row>
    <app-reset (didReset)="onDidReset($event)"></app-reset><ion-row>
        <ion-col col-6 class="gestures" (tap)="onElementTapped()" text-center>Tap me</ion-col>
         <ion-col col-6 class="gestures" (press)="onElementPressed()" text-center>Long press me</ion-col>
         </ion-row>

  </ion-grid>
</ion-content>
